<div class="jumbotron">
  <h1>Commit with Video</h1>
  <p class="lead">Ever come back to a project and completely forget how all the pieces fit together? Supplement your commits with video.</p>
  <%= link_to "Sign in with Github", "/auth/github", :class => "btn btn-large btn-success" %>
</div>