<% @repos.each_with_index do |repo, i| %>
  <p><a href="/repo?url=<%= repo['url'] %>"><%= repo['name'] %></a> <small>last pushed <%= DateTime.strptime(repo['pushed_at'], '%Y-%m-%dT%H:%M:%S%z').in_time_zone("Eastern Time (US & Canada)").strftime("%b %d at %I:%M%p") %></small></p>
<% end %>